<div>
  <h1>Recovery Seed</h1>
  <p>The wallet will contain your identity and the credits needed to make transactions (signatures). In case of a disaster you can recover the wallet with the phrase shown below. Please keep it in a safe place - preferably off-line. Anyone with this recovery phrase can access your identity and funds, and act on your behalf.</p>
  <div class="recoverySeed">{{recoverySeed}}</div>
  <button class="btn btn-primary" [routerLink]="['/onboarding/setwalletpassword']">Next</button>
</div>
