<div>
    <div class="verificationRow container">
        <div class="row">
            <div class="col-8">
                <p *ngIf="!hasIdentity">Your identity level is: <b>Anonymous</b></p>
                <p *ngIf="hasIdentity">Your identity level is: <b>E-mail Verified</b>.</p>
            </div>
            <div class="col-4">
                <button class="btn upgradeIdentityButton" [routerLink]=" ['/verifyidentity'] ">Upgrade Identity Level</button>
            </div>
        </div>
   </div>

    <div class="recentTransactions container">
        <div class="row headers">
                <div class="col-6 rightBorder">Recently signed</div>
                <div class="col-6">Recently verified</div>
        </div>
         
        <div class="row content">
            <div class="col-6 rightBorder">
                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let transaction of transactions">
                            <td *ngIf="transaction.time == 0"><span color="red">(Unconfirmed)</span></td>
                            <td *ngIf="transaction.time != 0">{{ (transaction.time * 1000) | amDateFormat:'LL' }} <a href="https://bchain.info/VTC/tx/{{transaction.txid}}"><i class="fa fa-chain"></i></a></td>
                            <td> 
                                <span *ngIf="transaction.script == '6a045349474e'">
                                {{getDocument(transaction.address)}}
                                </span>
                            </td>
                        </tr>
                        <tr *ngFor="let i of dummyTransactions">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                    <table class="table table-striped">
                            <tbody>
                                <tr *ngFor="let transaction of transactions">
                                    <td *ngIf="transaction.time == 0"><span color="red">(Unconfirmed)</span></td>
                                    <td *ngIf="transaction.time != 0">{{ (transaction.time * 1000) | amDateFormat:'LL' }} <a href="https://bchain.info/VTC/tx/{{transaction.txid}}"><i class="fa fa-chain"></i></a></td>
                                    <td> 
                                        <span *ngIf="transaction.script == '6a045349474e'">
                                        {{getDocument(transaction.address)}}
                                        </span>
                                    </td>
                                </tr>
                                <tr *ngFor="let i of dummyTransactions">
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
    </div>

    <div class="bottomRow container">
        &nbsp;
    </div>
</div>


