<div>

  <div class="container header">
    <div class="row">
      <p class="pageHeader">Sign a document</p>
      <div ng2FileDrop [ng2FileDropDisableStyles]="true" class="fileSelector" (ng2FileDropFileAccepted)="dragFileAccepted($event)">
        Drop a file here, or <a (click)="file.click()">select one from your computer</a>.
      </div>
      <input id="fileSelector" style="display: none" #file type="file" (change)="onFileChange($event)" />
    </div>

    <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
            <tbody>
                <tr *ngFor="let document of documents">
                    <td>{{document.name}}</td>
                    <td>Not signed</td>
                    <td><button class="btn signButton" (click)="sign(document)">Sign</button></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

  <div *ngIf="passwordRequired">
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
    </div>
    <button class="btn" (click)="signPassword()">Sign</button>
  </div>
</div>
